
.btn{
    --bs-btn-font-size: inherit;
    --bs-btn-font-weight: inherit;
    --bs-btn-color: var(--bs-body-color);
    --bs-btn-bg: var(--bd--body-bg);
    --bs-btn-border-color: var(--bd-border-color);
    --bs-btn-hover-color: var(--bs-body-color);
    --bs-btn-hover-bg: none;
    --bs-btn-hover-border-color:none;
    --bs-btn-focus-shadow-rgb: var(--bs-body-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: var(--bs-secondary-bg);
    --bs-btn-active-border-color: none;
    --bs-btn-border-radius: inherit;
}

[data-bs-theme=escuro] {
    color-scheme: escuro;
    --bs-body-font-size: 14px; /*altered*/
    --bs-body-font-size-sm: 12px;
    --bs-body-line-height: 20px;/*altered*/
    --bs-body-font-family:Arial,sans-serif;/*altered*/
    --bs-body-color: #ccc;/*altered*/
    --bs-body-color-rgb: 204, 204, 204;/*altered*/
    --bs-body-bg: #1c1c1c;/*altered*/
    --bs-body-bg-rgb: 28,28,28;/*altered*/
    --bs-emphasis-color: #fff;
    --bs-emphasis-color-rgb: 255, 255, 255;
    --bs-secondary-color: #adb5bdbf;
    --bs-secondary-color-rgb: 173, 181, 189;
    --bs-secondary-bg: #333;/*altered*/
    --bs-secondary-bg-rgb: 51, 51, 61;/*altered*/
    --bs-tertiary-color: #adb5bd80;
    --bs-tertiary-color-rgb: 173, 181, 189;
    --bs-tertiary-bg: #272727;/*altered*/
    --bs-tertiary-bg-rgb: 43, 48, 53;
    --bs-primary-text-emphasis: #6ea8fe;
    --bs-secondary-text-emphasis: #a7acb1;
    --bs-success-text-emphasis: #75b798;
    --bs-info-text-emphasis: #6edff6;
    --bs-warning-text-emphasis: #ffda6a;
    --bs-danger-text-emphasis: #ea868f;
    --bs-light-text-emphasis: #f8f9fa;
    --bs-dark-text-emphasis: #dee2e6;
    --bs-primary-bg-subtle: #031633;
    --bs-secondary-bg-subtle: #161719;
    --bs-success-bg-subtle: #051b11;
    --bs-info-bg-subtle: #032830;
    --bs-warning-bg-subtle: #332701;
    --bs-danger-bg-subtle: #2c0b0e;
    --bs-light-bg-subtle: #343a40;
    --bs-dark-bg-subtle: #1a1d20;
    --bs-primary-border-subtle: #084298;
    --bs-secondary-border-subtle: #41464b;
    --bs-success-border-subtle: #0f5132;
    --bs-info-border-subtle: #087990;
    --bs-warning-border-subtle: #997404;
    --bs-danger-border-subtle: #842029;
    --bs-light-border-subtle: #495057;
    --bs-dark-border-subtle: #343a40;
    --bs-link-color: #6ea8fe;
    --bs-link-hover-color: #8bb9fe;
    --bs-link-color-rgb: 110, 168, 254;
    --bs-link-hover-color-rgb: 139, 185, 254;
    --bs-code-color: #e685b5;
    --bs-border-color: #555555a0;/*altered*/
    --bs-border-color-translucent: #ffffff26;
    --bs-form-valid-color: #75b798;
    --bs-form-valid-border-color: #75b798;
    --bs-form-invalid-color: #ea868f;
    --bs-form-invalid-border-color: #ea868f;
    --box-shadow: 8px 16px #00000026;
    --box-shadow-sm: 2px 4px #00000013;
    --box-shadow-lg: 0 16px 48px #0000002d;
    --box-shadow-inset: inset 0 1px 2px #000000bf;
    --box-shadow-ssm: 0 1px 4px #0000007a;
}